.center { 
    position: relative; 
    z-index: 2; 
}

.image-container {
    position: relative;
    width: 500px;
    margin: 0 auto;
    z-index: 2;
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}